/* Brand Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

/* Content Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Oxygen+Mono&display=swap");

/* Global Styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font: 12px "Quicksand", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.inverted {
  filter: invert();
}

body {
  background: linear-gradient(
    0deg,
    #797979 0%,
    #797979 3%,
    #283a4e 35%,
    #0b0c13 100%
  );
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: hsl(240, 6%, 13%);
}

body::-webkit-scrollbar-thumb {
  background: #797979;
}

#content {
  overflow-x: hidden;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

section {
  padding: 6rem 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  margin: 0.18rem 0.7rem;
}

p {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.5;
}

img {
  width: 100%;
}

.skip {
  position: absolute;
  left: -500px;
  transition: left 0.5s;
  padding: 0.8rem 1.6rem;
  font-size: 1.25rem;
}

.skip:focus {
  left: 0px;
}

/* So that header can be fixed */
.space {
  height: 100vh;
}

/* Navigation */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.name {
  margin: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  z-index: 101;
}

#hamburger {
  padding: 40px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

#hamburger:hover {
  cursor: pointer;
}

#hamburger.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 5px solid transparent;
  top: calc(50% - 29px);
  left: calc(50% - 35px);
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active:before {
  border: 5px solid white;
}

#hamburger .line {
  width: 50px;
  height: 5px;
  background-color: white;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active .line {
  width: 35px;
}

#hamburger.is-active .line:nth-child(1) {
  transform: translateY(20px);
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

.main-nav {
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  position: fixed;
  top: -120%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  z-index: 100;
  background-image: linear-gradient(
    to left,
    #797979 0%,
    #283a4e 35%,
    #0b0c13 100%
  );
  transition: top 0.4s;
}

.active {
  top: 0 !important;
}

.nav-list {
  list-style: none;
  text-align: center;
}

.nav-link {
  position: relative;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  --thickness: 0.1em;
  --strike: 0;
  background: linear-gradient(90deg, transparent, currentColor 0) no-repeat
    right center / calc(var(--strike) * 100%) var(--thickness);

  transition: background-size 0.3s cubic-bezier(0.7, 0, 0.15, 1);
}

.nav-link:hover {
  --strike: 1;
  background-position-x: left;
}

.nav-socials {
  display: none;
}

.fly-in {
  opacity: 0;
  transform: translateX(-500%);
  animation: flyin 0.7s ease forwards;
}

.fly-out {
  animation: flyout 0.7s ease forwards;
}

.fly-in:nth-child(2) {
  animation-delay: 0.05s;
}
.fly-in:nth-child(3) {
  animation-delay: 0.1s;
}
.fly-in:nth-child(4) {
  animation-delay: 0.2s;
}
.fly-in:nth-child(5) {
  animation-delay: 0.3s;
}

@keyframes flyin {
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes flyout {
  to {
    transform: translateX(500%);
    opacity: 0;
  }
}

.left {
  position: fixed;
  width: 40px;
  left: 40px;
  bottom: 0;
  z-index: 1000;
  margin-bottom: 0 !important;
}

.left .socials-list {
  flex-direction: column;
}

.left:after {
  content: "";
  display: block;
  width: 1px;
  height: 120px;
  margin: 0 auto;
  background-color: white;
}

.left li:last-of-type {
  margin-bottom: 20px;
}

.left i {
  padding: 10px;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: -50%;
  left: 150%;
  margin: 0 auto;
  margin-left: -15px;
  margin-bottom: 5px;
  padding: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Oxygen Mono", monospace;
  letter-spacing: 1px;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Landing Text */
.landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  font-family: "Poppins", sans-serif;
}

.landing h1 {
  font-size: 3rem;
}

.landing h6 {
  font-size: 1.15rem;
  font-weight: 400;
  animation: fadeIn ease-in 2.5s;
}

.astronaut {
  max-width: 280px;
  margin: auto;
  animation: fadeIn ease-in 2s, float 2.5s ease-in-out infinite;
}

.astronaut img {
  transform: rotate(-15deg);
  user-select: none;
}

.scroll-down {
  width: 100%;
  position: absolute;
  bottom: 80px;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.3s;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.scroll-down a {
  padding: 20px;
  padding-bottom: 60px;
  opacity: 1;
}

.scroll-down a:hover {
  opacity: 0.7;
}

.scroll-down span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrollDown 1.5s infinite;
  animation: scrollDown 1.5s infinite;
  box-sizing: border-box;
}

@keyframes scrollDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* Container */
.container {
  max-width: 120rem;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.heading {
  text-align: center;
  margin-bottom: 5rem;
}

.heading h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 8rem;
}

.heading h1::before,
.heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.heading h1::before {
  width: 10rem;
  height: 2px;
}

/* About */
.profile-whole {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.profile-pic {
  width: 100%;
  max-width: 180px;
  margin: auto;
}

.profile p {
  font-size: 2rem;
}

/* Experience */
.job-item {
  margin: 15px 240px;
  padding: 14px;
  display: flex;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.25);
}

.enlarge:hover {
  transform: scale(1.05);
}

.job-item img {
  border-radius: 6px;
}

details summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
}

.desc-items {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.25;
  list-style: none;
  margin: 15px 0;
}

.desc-items li {
  margin: 0;
}

@media screen and (max-width: 1366px) {
  .job-item {
    margin: 15px 100px;
  }
}

/* Work */
.work-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.work-img {
  margin-right: 5rem;
  flex: 1;
}

.work-img img {
  border-radius: 2.5%;
}

.work-desc {
  flex: 1;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 5px 0;
}

.title h6 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

.resume,
.blog-link {
  font-weight: 800;
}

.work-desc .cta {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #3e7fff;
  cursor: pointer;
}

/* Contact */
.contact-desc {
  margin: 0 auto 80px;
  max-width: 530px;
}

.contact-desc h2 {
  margin-bottom: 15px;
  font-size: 5rem;
  font-weight: bold;
  text-transform: none;
  text-align: center;
}

/* Footer */
footer {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  padding: 2rem 0 4rem;
  text-align: center;
  position: relative;
}

.socials-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  margin-top: -3rem;
  margin-bottom: 2.5rem;
}

.socials i {
  font-size: 3rem;
  transform: scale(0.9);
  transition: color 0.33s;
}

.socials i:hover {
  transform: scale(1.15);
}

/* .fa-twitter:hover {
  color: #38a1f3;
}

.fa-github:hover {
  color: #111;
}

.fa-linkedin:hover {
  color: #0e76a8;
} */

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translatey(5px);
  }

  50% {
    transform: translatey(-13px);
  }

  100% {
    transform: translatey(5px);
  }
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .container {
    width: 60%;
  }

  .heading h1::after {
    left: 48%;
  }

  .profile-whole {
    flex-direction: column;
    margin: 5rem 0rem;
  }

  .job-item {
    margin: 15px 0px;
  }

  .desc-items li {
    font-size: 1.5rem;
  }

  .work-item {
    flex-direction: column;
  }

  .work-img {
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
  }

  .work-desc {
    margin: 0;
  }

  .work-desc h1 {
    font-size: 2.5rem;
  }

  .work-desc h6 {
    font-size: 1.5rem;
  }

  .heading:not(.contact h1) {
    margin-bottom: -5rem;
  }

  .container p {
    font-size: 1.5rem;
  }

  .profile p {
    font-size: 2rem;
  }

  form {
    width: 100%;
  }

  .up {
    margin: 0 -2rem;
    bottom: 5rem;
    right: 5rem;
  }
}

/* Smaller Tablet */
@media screen and (max-width: 768px) {
  header {
    background-color: rgba(11, 12, 19, 0.5);
  }

  .name {
    margin: 20px 20px 0;
    font-size: 2rem;
  }

  .right {
    padding: 20px;
  }

  #hamburger {
    padding: 20px;
  }

  #hamburger .line {
    width: 40px;
    height: 5px;
    margin: 8px auto;
  }

  .main-nav {
    padding-top: 100px;
    font-size: 8.5rem;
  }

  li {
    margin: 0 0.25rem;
  }

  .profile p {
    font-size: 1.5rem;
  }

  .container {
    width: 80%;
  }

  .heading h1 {
    font-size: 2.8rem;
  }

  .job-item {
    margin: 15px 50px;
  }

  .nav-socials {
    display: flex;
    justify-content: center;
  }

  .nav-socials li {
    margin: 0 1rem;
  }

  footer li {
    margin: 0 1rem;
  }

  .left {
    display: none;
  }
}

/* Phone */
@media screen and (max-width: 540px) {
  .main-nav {
    font-size: 6rem;
  }

  .main-nav .socials {
    margin: 0;
  }

  section {
    padding: 3.5rem 0;
  }

  .job-item {
    margin: 15px 0px;
  }

  .contact-desc {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 420px) {
  .main-nav {
    font-size: 4rem;
  }
}
