.inner {
  position: absolute;
  background: linear-gradient(
    45deg,
    rgba(0, 255, 255, 0.8),
    rgba(255, 0, 255, 0.8)
  );
  box-shadow: 0 0 4em rgba(0, 255, 255, 0.7);
  animation: pulse 4s infinite ease-in-out, hue-shift 10s infinite linear,
    wobble 6s infinite ease-in-out;
}

.outer {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(0, 255, 255, 0.5),
    rgba(255, 0, 255, 0.2)
  );
  opacity: 0.8;
  animation: pulse 5s infinite linear, hue-shift 12s infinite linear,
    wobble 8s infinite ease-in-out;
}

.glow {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(0, 255, 255, 0.3),
    rgba(255, 0, 255, 0)
  );
  opacity: 0.5;
  animation: glow 5s infinite ease-in-out, hue-shift 15s infinite linear,
    wobble 10s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.3;
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.9;
  }
}

@keyframes hue-shift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes wobble {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(2px, -2px) rotate(60deg);
  }
  50% {
    transform: translate(-3px, 2px) rotate(120deg);
  }
  75% {
    transform: translate(2px, -2px) rotate(60deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
